.local/
var/
modules/private
.yas-compiled-snippets.el

# folders created by Cask
.cask/
cask/
elpa/
test/.local*/

# emacs tempfiles that shouldn't be there
.mc-lists.el
.org-id-locations
.tern-port
.extension/
.dap-breakpoints
auto-save-list/
semanticdb
ede-projects.el
tramp
smex-items
network-security.data
server/

# compiled files
*.elc
*.lib
*.fas
*.dat
*.eld

# transient/os temp files
*.cache-*
*.log
.directory
