.cask/
ext/*
!ext/*.sh
!ext/*.md
!ext/VARS
eshell/
private/cache
private/snippets
var/
core/autoloads.el
.mc-lists.el
.org-id-locations
auto-save-list
semanticdb
ede-projects.el
tramp
smex-items
debug.el

# compiled files
*.elc
*.lib
*.fas
*.dat
*.eld

*.cache-*
*.log
