[submodule "snippets"]
	path = snippets
	url = https://github.com/hlissner/emacs-snippets
[submodule "elisp/emacs-neotree"]
	path = elisp/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree
[submodule "elisp/use-package"]
	path = elisp/use-package
	url = https://github.com/jwiegley/use-package
