language: generic
dist: trusty
sudo: false
branches:
  only:
    - master
    - develop
before_install:
  - git clone https://github.com/rejeep/evm.git /home/travis/.evm
  - export PATH="/home/travis/.evm/bin:$PATH"
  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip
env:
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.1-travis
  - EVM_EMACS=emacs-git-snapshot-travis
matrix:
  allow_failures:
  - env: EVM_EMACS=emacs-git-snapshot-travis
script:
  - bin/doom version
  - bin/doom test
  - bin/doom -y compile
