language: generic
sudo: false
branches:
  only:
    - master
    - develop
before_install:
  - git clone https://github.com/rejeep/evm.git /home/travis/.evm
  - export PATH="/home/travis/.evm/bin:$PATH"
  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip
  - mkdir -p ~/.config/doom
  - cp init.test.el ~/.config/doom/init.el
  - bin/doom -y -i install
env:
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.1-travis
script:
  - bin/doom version
  - bin/doom -d test
  - bin/doom -y compile
